// Register Style
// @import "./_partials/mixins";

.register {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 45%;
    padding: 10px 25px 30px;
    // margin: 0 5em 0 0;
    position: absolute;
    top: 4rem;
    left: 5rem;
    border-radius: 5px;
    transition: ease all 0.55s;
    // animation: fadeInLeft 1s linear 1s;
    background-color: rgba(0, 0, 0, 0.42);
    font-family: 'Roboto-Regular', sans-serif;

    &__header {
        transition: ease all 0.55s;
        h2 {
            color: #fff;
            font-family: 'Gotham-Bold', sans-serif;
            font-size: 2.3rem;
            margin: 0;
        }
        h5 {
            color: $text-color;
            font-family: 'Roboto-Thin', sans-serif;
            margin: 0;
            padding: 10px 0;
        }
    }
    &__formContent {
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0px 1px 4px #E5E9F2;
        padding: 15px;
        &__formField {
            margin-right: 20.23%;
            padding: 5px;
        }
    }
    &__formLogin {
        background-color: transparent;
        &__formField {
            margin-right: 20.23%;
            padding: 5px;
        }
    }
    &__formgroup {
        margin-bottom: 1px;
        label {
            display: flex;
            color: $text-color;
            font-size: 0.75rem;
        }
    }
    &__twitter {
        @include SocialButton($white-color, $twitter, 100%, 25px, 4px);
    }
    &__facebook {
        @include SocialButton($white-color, $facebook, 100%, 25px, 4px);
    }
    &__googleplus {
        @include SocialButton($white-color, $google, 100%, 25px, 4px);
    }
    &__existing {
        font-size: .8rem;
        text-align: center;
        padding: 10px 0;
        a {
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    //ant-design overright
    .ant-input {
        height: 25px;
    }
    .ant-select {
        width: 100%;
    }
    .ant-btn-primary {
        border-color: #29CB97;
        background: #29CB97;
    }
    .ant-divider {
        margin: 3px 0 !important;
        font-size: 12px !important;
    }
}

.login {
    // margin-top: 10px;
    padding: 20px;
    .ant-divider {
        margin: 18px 0 !important;
        color: $white-color !important;
        border-top: $white-color !important;
    }
    label {
        color: $white-color;
    }
    h2 {
        padding-left: 20px;
    }
    &__info {
        color: $white-color;
        font-size: 12px;
        margin-bottom: 5px;
    }
    &__info2 {
        color: $white-color;
        font-size: 12px;
        text-align: center;
        margin-top: 20px;
    }
}