@import "./_partials/vars";
@import "./_partials/mixins";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

.extendedHeader {
    display: flex;
    position: absolute;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 20px 3rem;

    img {
        object-fit: contain;
    }

    &__nav {
        ul {
            display: flex;
            list-style: none;
            margin-bottom: 0;
        }

        li a {
            text-transform: uppercase;
            letter-spacing: 2px;
            padding: 10px 0 10px 4.4rem;
            color: $white-color;

            &.other {
                color: $codColor;
            }
        }
    }
}

.codExtended {
    background: $black-color;
    width: 100%;
    height: 100vh;
    transition: ease all 0.5s;

    &__lang {
        position: absolute;
        height: 100vh;
        display: flex;
        align-items: center;
        animation: slideInLeft 3s linear 2s;

        &__inner {
            display: flex;
            flex-direction: column;

            >div {
                color: #353535;
                padding: 10px 9px 0 2px;
                margin-bottom: 10px;
                transform: rotate(270deg);
                position: relative;
                cursor: pointer;

                &:after {
                    content: "";
                    position: absolute;
                    min-height: 1px;
                    min-width: 20px;
                    background: #353535;
                    transform: rotate(-90deg);
                    margin: 0;
                    left: 22px;
                    bottom: 11px;

                    &:last-child {
                        background: transparent;
                    }
                }

                &.active {
                    color: $white-color;
                }

                &:hover {
                    @extend .active;
                }
            }
        }
    }

    &__inner {
        display: flex;
        width: 100%;

        &__col {
            display: flex;
            flex: 1;
        }
    }
    &__mostInner {
        margin: 6rem 0 2rem 2rem;
        display: flex;
        width: 100%;
    }

    &__content {
        padding: 2rem 0;
        font-family: 'Lato', sans-serif;
        margin: 10px 6rem auto;

        h4 {
            font-size: 1.3rem;
            letter-spacing: 2px;
            text-transform: uppercase;
            color: $white-color;
            position: relative;
            margin-bottom: 0;
            &:after {
                content: "";
                position: absolute;
                width: 10%;
                left: 0;
                min-height: 1px;
                background-color: $white-color;
                margin-left: 0;
                bottom: 0;
            }
        }

        h2 {
            color: $codColor;
            font-size: 4rem;
            font-weight: 900;
            margin-bottom: 0;
        }
        h3 {
            @extend h2;
            color: $white-color;
            line-height: 2rem;
            margin-bottom: 2rem;
        }

        &__span1 {
            color: $white-color;
            font-family: 'Roboto-Normal', sans-serif;
            font-weight: 700;
            font-size: .91rem;
            letter-spacing: 0.27rem;
            display: flex;
            align-items: center;
            span {
                letter-spacing: normal;
                color: $codColor;
            }
        }

        &__button {
            border-radius: 54px;
            border-color: $codColor;
            background-color: $codColor;
            text-transform: uppercase;
            color: $black-color;
            font-weight: 900;
            margin-top: 2rem;
        }
    }

    &__slideshow {
        border: 1px solid $white-color;
        width: 100%;
        margin: 0 0rem 0 12rem;
        color: #fff;
        h2 {
            color: $white-color;
            font-size: 1rem;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}