@import "./_partials/vars";
@import "./_partials/mixins";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;500;800&display=swap');

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    // height: 100%;
    // width: 100%;
    font-size: 100%;
    font-family: 'Gotham-XLight', sans-serif;
}

.header {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    padding: 10px 0;
    z-index: 1;
    transition: ease all 0.5s;

    a {
        text-decoration: none;
    }

    &__logo {
        padding: 5px;
        margin-right: 40px;
        display: flex;
        align-items: center;

        // margin: 18px 20px 0;
        img {
            object-fit: contain;
        }

        >div {
            margin-right: 20px;
        }
    }
}

.text-color {
    color: $text-color;
}

.btnColor {
    color: $primaryButton;

    a {
        text-decoration: underline;

        &:hover {
            text-decoration: underline;
            color: $primaryButton;
        }
    }
}

.text-center {
    text-align: center;
    display: flex;
    justify-content: center;
}

.white-color {
    color: $white-color;
}

.wow {
    visibility: hidden;
    // overflow: hidden;
}

.landing {
    display: flex;
    height: 100vh;
    width: 100%;
    transition: ease all 0.5s;
    overflow: hidden;

    &__bgCover {
        background: url("../images/tender-young-blonde.jpg") no-repeat center;
        height: 100%;
        width: 100%;
        background-size: cover;
        overflow: hidden;
    }

    &__welcome {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        min-width: 35%;
        background: rgba(0, 0, 0, .5);
        padding: 4rem 2rem;
        margin: 0 5em 0 0;
        position: absolute;
        top: 9rem;
        left: 5rem;
        transition: ease all 0.55s;
        // animation: fadeInLeft 1s linear 1s;
    }

    &__content {
        padding: 0 10px 0 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-bottom: 20px;

        h3 {
            font-size: 1.4rem;
            margin: 0 0px 20px 0px;
            padding: 0;
            color: $white-color;
        }

        h4 {
            font-size: 1.4rem;
            margin: 0;
            text-transform: uppercase;
            font-family: 'Gotham-Bold', sans-serif;
            color: $white-color;
        }
    }

    &__getStartedBtn {
        outline: none;
        border: 0;
        background: #000;
        color: #fff;
        padding: .81rem 1rem;
        text-transform: uppercase;
        cursor: pointer;
        letter-spacing: 1px;
        transform: translateX(0);
        display: flex;
        // height: 45px;
        width: 50%;
        font-family: 'Gotham-Bold', sans-serif;
        justify-content: center;
        align-items: center;

        &:hover {
            border: 1px solid #fff;
            overflow: hidden;
            transform: translateX(2px);
            background: none;
            transition: ease all 0.5s;
            font-family: 'Gotham-Bold', sans-serif;
        }
    }
}

//Connect Styles
.connectHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 22px;
    position: absolute;
    width: 100%;
    z-index: 1;

    .ant-btn-primary {
        background: rgba(0, 0, 0, .8);
        color: $white-color;
        border: none;
        border-radius: 0 50px 50px 0 !important;
    }

    .ant-input {
        background-color: rgba(0, 0, 0, .8);
        border-radius: 50px;
        border: none;
        color: $white-color;
        font-family: 'Roboto-Regular';
        font-weight: normal;
        outline: none;

        &:focus {
            border-color: $freelanceColor;
        }
    }

    .ant-input-group-addon {
        border-radius: 50px;
        background-color: transparent;
    }

    .ant-input-search-button {
        height: 30px;
    }
}

.connect {
    display: flex;
    height: 100vh;
    overflow: hidden;
    background: url('../images/loving-couple-kissing-rain.jpg') no-repeat center;
    background-size: cover;
    width: 100%;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    &__mobileicon {
        position: absolute;
        bottom: 5rem;
        right: 45%;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: $freelanceColor;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        transition: ease all 0.5s;
        animation: bounce 5s infinite 5s;
        a {
            color: $white-color;
        }
    }
    &__bgCover {
        @include backdrop($black-color, .8, 100%);
    }

    &__content {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        margin: auto;
        position: relative;

        &__header {
            display: flex;
            flex-direction: column;
            justify-content: center
        }

        &__innerheader {
            display: flex;
            flex-wrap: wrap;
            flex: 1;
            align-items: center;

            h2 {
                color: $freelanceColor;
                font-size: 3rem;
                margin-bottom: 0;
                font-weight: 800;
                margin-left: 10px;
            }
        }

        p {
            color: $white-color;
            font-size: 1.1rem;
            font-weight: 500;
            text-align: center;
        }

        &__actions {
            margin-top: 10px;
            width: 50%;

            .button {
                border-radius: 5px;
                border: none;
                margin-bottom: 5px;

                &.btn-started {
                    background-color: $freelanceColor;
                }

                &.btn-login {
                    background-color: $white-color;
                }
            }
        }

        &__store {
            margin-top: 2em;
        }
    }
}

@media (min-width: 1024px) {
    .hideOnWeb {
        display: none;
    }
}

@import "./auth.scss";
@import "./mobile.scss";