@import "./_partials/mixins";
@import "./_partials/vars";

//Header Style
.moverheader {
    background-color: $black-color;
    position: absolute;
    display: flex;
    align-items: center;
    width: 100%;
    z-index: 1;

    &__col {
        flex: 1;
    }

    &__logo {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        img {
            object-fit: contain;
            // width: 100%;
            height: 100%;
        }

        h3 {
            font-weight: 800;
            font-size: 30px;
            color: $white-color;
            margin-bottom: 0;
        }
    }

    &__nav {
        display: flex;
        align-self: center;
        align-items: center;
        justify-content: flex-end;
        .MuiButton-containedPrimary {
            border-radius: 9px;
            background-color: $moverYellow;
        }
    }

    ul {
        display: flex;
        list-style: none;
        margin: 0;
        align-items: center;
    }

    li a {
        display: flex;
        justify-content: space-evenly;
        padding: 0 10px;
        color: $white-color;
        font-weight: 700;
        font-size: .8rem;
        transition: ease all 0.5s;

        &:hover {
            transform: translateY(-10%);
            transition: ease all .5s;

            &:after {
                content: "";
                position: absolute;
                width: 70%;
                bottom: -2px;
                margin: auto;
                min-height: 1px;
                background-color: #fec23e;
                transition: ease all .6s;
                animation: slideInLeft 2s linear 2s;
            }
        }

        &.freeColor {
            color: $freelanceColor;
        }
    }
}

//landing style
.moverlanding {
    display: flex;
    width: 100%;
    height: 100vh;
    background: url('../images/carss.png') no-repeat center;
    background-size: cover;
    &__cover {
        @include backdrop($black-color, 0.8, 100)
    }
    &__content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 8rem 4rem;;
        position: relative;
        align-items: center;
        font-family: 'Roboto-Regular', sans-serif;
        transition: ease all 0.5s;
        &__col-60 {
            flex: 0 0 60%;
            width: 60%;
        }
        &__col-40 {
            flex: 0 0 40%;
            min-width: 40%;
            width: 40%;
        }
        &__info {
            padding: 3rem 1rem;
            h3 {
                text-transform: uppercase;
                color: $white-color;
                font-size: 3rem;
                font-weight: 900;
                line-height: 1.2;
                margin-bottom: 0;
                padding-bottom: 15px;
            }
            .MuiButton-containedSecondary {
                background-color: $redColor;
            }
        }
        &__booking {
            background-color: $black-color;
            padding: 3rem;
            &__header {
                padding: 10px 0;
                h3 {
                    margin-bottom: 0;
                    font-size: 1.8rem;
                    font-weight: 600;
                    color: $white-color;
                }
                h4 {
                    font-size: 1rem;
                    font-weight: normal;
                    color: $white-color;
                }
            }
            &__forms {
                .formgroup {
                    margin-bottom: 15px;
                }
                .ant-input {
                    height: 45px;
                    border-radius: 0;
                    padding-left: 20px;
                }
                .MuiButton-containedPrimary {
                    border-radius: 0;
                    background-color: $moverYellow;
                }
                .MuiButton-root {
                    padding: 10px 16px;
                }
            }
        }
    }
}

//request form 
.coverBg {
    @include backdrop(#E5E5E5, 0.5, 100%);
}
.request {
    display: flex;
    padding: 15px;
    background: $white-color;
    width: 100%;
    margin: 9rem 4rem;
    font-family: 'Roboto-Regular', sans-serif;
    transition: ease all 0.5s;
    position: relative;
    align-items: center;
    &__pcol {
        flex: 1
    }
    &__container {
        // border: 1px solid $black-color;
        margin: 10px;
    }
    &__iconholder {
        display: flex;
        align-items: center;
        border-radius: 8px;
        background: $black-color;
        justify-content: center;
        padding: 2px;
        margin-right: 2px;
        img {
            object-fit: contain;
            width: 100%;
        }
    }
    &__header {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 10px;
        h4 {
            text-transform: uppercase;
            font-weight: 900;
            font-size: 18px; //1.2rem
            margin-bottom: 0;
            // font-family: 'Roboto-Bolder', sans-serif;
        }
    }
    &__forms {
        label {
            font-weight: normal;
            color: $labelColor;
            font-size: .81rem;
        }
        .form-group {
            margin-bottom: 10px;
        }
        .ant-input {
            border-radius: 8px;
            border: 1px solid #76AEFF;
            height: 35px;
            &:placeholder {
                font-weight: lighter;
            }
        }
        .MuiButton-contained {
            background-color: #FEC23E;
            color: $white-color;
            box-shadow: none;
            border-radius: 8px;
        }
        .MuiButton-containedSecondary {
            background-color: $black-color;
        }
    }
    &__vehicle {
        display: flex;
        justify-content: space-between;
        padding: 1.2rem 0;
        >div {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            span {
                padding-top: 5px;
                font-weight: lighter;
            }
        }
    }
}