$text-color: #748AA1;
$white-color: rgb(255, 255, 255);
$black-color: rgb(0,0,0);
$twitter: #00ADEE;
$google: #DD4B39;
$facebook: #3B5998;
$primaryButton: #29CB97;
$freelanceColor: #FEC23E;
$codColor: #926329;
$redColor: #FF3514;
$moverYellow: #FFB118;